
<ion-tabs class="tabs-icon-top tabs-stable tabs-color-active-balanced">
  <ion-tab title="首页" icon-off="ion-ios-home-outline" icon-on="ion-ios-home-outline" ui-sref="tab.setting">
      <ion-nav-view animation="slide-left-right" name="tab-setting"></ion-nav-view>
  </ion-tab>
    <ion-tab title="我" icon-on="ion-ios-person-outline" icon-off="ion-ios-chatbubble-outline" ui-sref="tab.message">
        <ion-nav-view animation="slide-left-right" name="tab-message"></ion-nav-view>
    </ion-tab>
   


</ion-tabs>
